.header {
    height: 650px;
    background-color: #4F200F;
    background-image: url("../Image/header/background.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
}

.header__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 54px;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.header__text {
    max-width: 900px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

.header__btn {
    margin-top: 30px;
    padding: 15px 90px;
}

@media screen and (max-width: 600px) {
    .header {
        height: 750px;
        background-size: cover;
    }

    .header__btn {
        padding: 15px 60px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        height: 850px;
    }

    .header__btn {
        padding: 15px 40px;
    }
}

@media screen and (max-width: 375px) {
    .header {
        height: 950px;
    }

    .header__btn {
        padding: 15px 20px;
    }
}